<div class="">
  <div class="mb-4 md:visible invisible">
    <mat-button-toggle-group name="dates" [(ngModel)]="currentDate">
      @for (date of availableDates(); track $index) {
      <mat-button-toggle mat-raised-button [ngClass]="date === currentDate() ? 'bg-blue-400' : 'bg-slate-300'" class=""
        (click)="chooseDate(date)" [value]="date">
        @if (date === todayDate) {
        Today
        }
        @else {
        {{ date | date: 'EEE'}}
        <span class="text-gray-500 text-sx">
          {{ date | date: '(dd MMM)'}}
        </span>
        }
      </mat-button-toggle>
      }
    </mat-button-toggle-group>
  </div>
  <div class="mb-4 visible md:invisible">
    <mat-button-toggle-group name="dates" [(ngModel)]="currentDate">
      @for (date of availableDates(); track $index) {
      <mat-button-toggle mat-raised-button [ngClass]="date === currentDate() ? 'bg-blue-400' : 'bg-slate-300'" class=""
        (click)="chooseDate(date)" [value]="date">
        @if (date === todayDate) {
        Today
        }
        @else {
        {{ date | date: 'EEE'}}
        }
      </mat-button-toggle>
      }
    </mat-button-toggle-group>
  </div>

  <div class=" grid lg:grid-cols-2 gap-4">
    <div>
      <div class="p-4 pl-8">

        <iframe width="100%" height=400 src="https://maps.google.com/maps?q=Malaysia&amp;output=embed"
          title="Malaysia"></iframe>
        <!-- <img src="malaysia-map.webp" alt=""> -->
      </div>
    </div>

    <div class="">
      <div class="mb-4">

      </div> <mat-form-field class="">
        <input id="search-input" [placeholder]="currentLocation()" matInput [(ngModel)]="searchedLocation">
        <mat-label for="search-input">Location</mat-label>
      </mat-form-field>

      @if (!isLoading() && currentLocation() !== "") {
      @for (weather of filteredWeathers(); track $index) {
      <a routerLink="locations/{{weather.date.slice(0, 10)}}_{{weather.location.location_id}}">
        <mat-card appearance="outlined" class="my-2">
          <mat-card-content>
            <div class="grid grid-cols-2">
              <p class="font-bold">
                {{weather.location.location_name}}
              </p>
              <p class="justify-self-end text-gray-500">
                ( {{weather.location.location_id | weatherLocation }} )
              </p>
            </div>
            <div class="justify-items-start grid grid-cols-8 mb-2">
              <img alt="{{ weather.summary_forecast | weatherTranslate:true }} icon"
                [src]="'weatherIcons/' + (weather.summary_forecast | weatherTranslate:true) + '.png'" width="30px" />
              <div class="col-span-3">
                {{ weather.max_temp }} °C / {{ weather.min_temp }} °C
              </div>
            </div>
            <p>
              {{ weather.summary_forecast | weatherTranslate }}
            </p>
          </mat-card-content>
        </mat-card>
      </a>
      }
      } @else {
      <mat-spinner></mat-spinner>
      }
    </div>
  </div>
</div>