<div class="">
  <div class="mb-4">
    <mat-button-toggle-group name="dates" [(ngModel)]="currentDate">
      @for (date of availableDates(); track $index) {
      <mat-button-toggle mat-raised-button [ngClass]="date === currentDate() ? 'bg-blue-400' : 'bg-slate-300'" class=""
        (click)="chooseDate(date)" [value]="date">
        {{ date | date: 'dd MMM yyyy'}}
      </mat-button-toggle>
      }
    </mat-button-toggle-group>
  </div>

  <div class=" grid grid-cols-2 gap-4">
    <div>
      <div class="bg-sky-200"><img src="malaysia-map.webp" alt=""></div>
    </div>

    <div class="">
      <div class="mb-4">

      </div> <mat-form-field class="">
        <input placeholder="Kuala Lumpur" matInput [(ngModel)]="searchedLocation">
        <mat-label>Location</mat-label>
      </mat-form-field>

      @for (weather of filteredWeathers(); track $index) {
      <mat-card appearance="outlined" class="my-2">
        <mat-card-content>
          <p class="font-bold">
            {{weather.location.location_name}}
          </p>
          <p>
            Max Temp: {{ weather.max_temp }} °C
          </p>
          <p>
            Min Temp: {{ weather.min_temp }} °C
          </p>
          <p>
            Summary: {{ weather.summary_forecast }}
          </p>
        </mat-card-content>
      </mat-card>
      }
    </div>
  </div>
</div>